<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    
    <!-- Invoke Report Generation-->
    <listeners>
    	<listener class-name="Resources.ExtentReporterNG"/>  
    </listeners>
    
    <!-- Give Reference to Test Classes-->
  <test thread-count="5" name="Test">
    <classes>
      <!-- Old Test Classes
      <class name="SoFaDog.AndroidAutomation.WidgetSwipeTest"/>				
      <class name="SoFaDog.AndroidAutomation.SmokeTest"/>
      <class name="SoFaDog.AndroidAutomation.LoginTest"/>
      <class name="SoFaDog.AndroidAutomation.LogoutTest"/>
	  <class name="SoFaDog.AndroidAutomation.WatchVideoTest"/>
      <class name="SoFaDog.AndroidAutomation.ListenAudioTest"/>
      <class name="SoFaDog.AndroidAutomation.EndToEndTest"/>
      <class name="SoFaDog.AndroidAutomation.CreatePaidServiceTest"/>
      <class name="SoFaDog.AndroidAutomation.CreateFreeServiceTest"/>
      <class name="SoFaDog.AndroidAutomation.EditServiceTest"/>
      <class name="SoFaDog.AndroidAutomation.DeleteServiceTest"/>
      <class name="SoFaDog.AndroidAutomation.DonationPaidTest"/>					
      <class name="SoFaDog.AndroidAutomation.PaidServiceStatusTest"/>	
      <class name="SoFaDog.AndroidAutomation.UploadVideoTest"/>	
      <class name="SoFaDog.AndroidAutomation.RegisterTest"/> 
	  <class name="SoFaDog.AndroidAutomation.DeleteAccountTest"/>
  	  <class name="SoFaDog.AndroidAutomation.BecomeCreatorTest"/>
 	  <class name="SoFaDog.AndroidAutomation.SubscribeFreeChannel"/> 
 	  <class name="SoFaDog.AndroidAutomation.SubscribePaidChannel"/>	
      -->	
      
      <!-- Major Functionality Test Cases-->
      <class name="Memberse.AndroidAutomation.aSmokeTest"/>
      <class name="Memberse.AndroidAutomation.aSignupFormValidationTest"/>
      <class name="Memberse.AndroidAutomation.aSignupWithEmailTest"/>
      <class name="Memberse.AndroidAutomation.aLoginFormValidationTest"/>
      <class name="Memberse.AndroidAutomation.aLoginWithEmailTest"/>
      <class name="Memberse.AndroidAutomation.aLoginWithGoogleTest"/>
      <class name="Memberse.AndroidAutomation.aLoginWithFacebookTest"/>
      <class name="Memberse.AndroidAutomation.aLogoutTest"/>
      <class name="Memberse.AndroidAutomation.aDeleteAccountTest"/>
      <!-- General Test Cases-->
      <class name="Memberse.AndroidAutomation.aTermsAndConditionsTest"/>
      <class name="Memberse.AndroidAutomation.aCommunityGuidelinesTest"/>
      <class name="Memberse.AndroidAutomation.aPrivacyPolicyTest"/>
      <!-- Home Menu Test Cases-->
      <class name="Memberse.AndroidAutomation.aFeedsVerifyTest"/>
      <class name="Memberse.AndroidAutomation.aFeedsFilterTest"/>
      <class name="Memberse.AndroidAutomation.aCreateTextPostTest"/>
      <class name="Memberse.AndroidAutomation.aCreatePhotoPostTest"/>
      <class name="Memberse.AndroidAutomation.aCreateVideoPostTest"/>
      <class name="Memberse.AndroidAutomation.aCreateAudioPostTest"/>
      <!-- Explore Menu Test Cases-->
      <class name="Memberse.AndroidAutomation.aSearchCreatorTest"/>
      <!-- Community UI Test Cases-->
      <class name="Memberse.AndroidAutomation.aFollowAndUnfollowCommunityTest"/>
      <class name="Memberse.AndroidAutomation.aShareCommunityTest"/>
      <class name="Memberse.AndroidAutomation.aReportCommunityTest"/>
      <class name="Memberse.AndroidAutomation.aJoinCommunityTest"/>
      <class name="Memberse.AndroidAutomation.aDonationTest"/>
      <class name="Memberse.AndroidAutomation.aViewTextPostTest"/>
      <class name="Memberse.AndroidAutomation.aViewPhotoPostTest"/>
      <class name="Memberse.AndroidAutomation.aPlayVideoPostTest"/>
      <class name="Memberse.AndroidAutomation.aPlayAudioPostTest"/>
      <class name="Memberse.AndroidAutomation.aReportPostTest"/>
      <class name="Memberse.AndroidAutomation.aSharePostTest"/>
      <class name="Memberse.AndroidAutomation.aLikePostTest"/>
      <class name="Memberse.AndroidAutomation.aCommentOnPostTest"/>
      <class name="Memberse.AndroidAutomation.aCommunityTabsTest"/>
      <!-- Profile Menu Test Cases-->
      <class name="Memberse.AndroidAutomation.aCommunityEditInfoTest"/>
      <class name="Memberse.AndroidAutomation.aCommunityPriceTest"/>
      <class name="Memberse.AndroidAutomation.aStripeConnectionTest"/>
      <class name="Memberse.AndroidAutomation.aPostHistoryPlayTest"/>
      <class name="Memberse.AndroidAutomation.aPostHistoryEditTest"/>
      <class name="Memberse.AndroidAutomation.aPostHistoryDeleteTest"/>
      <class name="Memberse.AndroidAutomation.aCreatePlaylistTest"/> 
      <class name="Memberse.AndroidAutomation.aAddMediaAndPlayPlaylistTest"/> 
      <class name="Memberse.AndroidAutomation.aPlaylistEditTest"/>
      <class name="Memberse.AndroidAutomation.aMyFansListTest"/>
      <class name="Memberse.AndroidAutomation.aMemberInfoTest"/>
      <class name="Memberse.AndroidAutomation.aMembershipsTest"/>
      <class name="Memberse.AndroidAutomation.aWatchedHistoryTest"/>
      <class name="Memberse.AndroidAutomation.aLanguageTest"/>
      <class name="Memberse.AndroidAutomation.aBecomeCreatorTest"/>  
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->

